{% extends "UserBundle::layout.html.twig" %}

{% block contenu %}
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-3">
					<img src="{{ asset('bundles/user/img/logo.png') }}" />
				</div>
				<div class="col-md-9">
					<h1>Bienvenue sur <span class="zf-green">Giltin'</span> !</h1>
					<p>
						Giltin' est LA r&eacute;f&eacute;rence des applications en mati&egrave;re de gestion de comptes bancaire.<br />
						G&eacute;rez facilement votre liste de comptes et leurs op&eacute;rations associ&eacute;es en quelques clics de souris, c'est maintenant possible!<br />
						Connectez-vous d&egrave;s &agrave; pr&eacute;sent.
					</p><br />
					{% if not(is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
						<p><a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-lg" role="button">Authentification</a></p>
					{% endif %}
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default container-block">
					<div class="panel-heading"><span class="glyphicon glyphicon-eye-open"></span> Visualisez vos comptes bancaires</div>
					<div class="panel-body">
						<img src="{{ asset('bundles/user/img/logo.png') }}" class="thumb" alt="Visualisez vos clients"/><br /><br />
						Vous aurez un aperçu rapide de l'ensemble de vos comptes bancaires afin d'accéder rapidement à l'ensemble de leurs opérations bancaires.
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default container-block">
					<div class="panel-heading"><span class="glyphicon glyphicon-filter"></span> Filtrage des clients</div>
					<div class="panel-body">
						<img src="{{ asset('bundles/user/img/logo.png') }}" class="thumb" alt="Filtrage des clients"/><br /><br />
						Afin d'approfondir votre recherche de clients vous pourrez les filtrer par la ville ou le département de la société dans lesquelles ils travaillent.
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default container-block">
					<div class="panel-heading"><span class="glyphicon glyphicon-link"></span> Association de t&acirc;ches et notes</div>
					<div class="panel-body">
						<img src="{{ asset('bundles/user/img/logo.png') }}" class="thumb" alt="Association de t&acirc;ches et notes"/><br /><br />
						En plus de pouvoir accéder aux données de la fiche client, vous pourrez associer à celui-ci des tâches avec leur date d'éxecution ainsi que des notes.
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}